<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			@include 'layout/repo_menu.html'

			<h1>Branches</h1>
			@if can_create
				<form method="post" action="/@repo.user_name/@repo.name/branches" class="form branch-create-form">
					<label>New branch <input type="text" name="name" placeholder="feature/name" required></label>
					<label>Source <input type="text" name="source" value="@repo.primary_branch" required></label>
					<button type="submit">Create branch</button>
				</form>
			@end

			.branches {
				@for branch in branches
					.branch {
						.clog-block {
							.clog {
								.clog-msg {
									<a href='/@repo.user_name/@repo.name/tree/@branch.name'>@branch.name</a>
									@if branch.is_protected
										<span class="protected-branch-badge">Protected</span>
									@end
								}

								<span >@branch.author</span>

								span.clog-time {
									updated @branch.relative()
								}
								@if branch.can_delete
									<form method="post" action="/@repo.user_name/@repo.name/branches/delete" class="inline-form">
										<input type="hidden" name="name" value="@branch.name">
										<button type="submit" class="link-button link-button--danger">Delete</button>
									</form>
								@end
							}
						}
					}
				@end
			}
		</div>

		@include 'layout/footer.html'
	</body>
</html>
