<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<main class="home">
			<section class="home-intro" aria-labelledby="home-title">
				<div class="home-shell home-intro__layout">
					<div class="home-intro__copy">
						<span class="home-kicker">Gitly</span>
						<h1 id="home-title">%index_intro</h1>
						<p class="home-intro__summary">
							<span>%index_source_hosting</span>
							<span aria-hidden="true">&middot;</span>
							<span>%index_project_management</span>
							<span aria-hidden="true">&middot;</span>
							<span>%index_ci_cd</span>
						</p>
						<div class="home-actions">
							@if ctx.logged_in
								<a class="home-button home-button--primary" href="/new">%new_repository</a>
								<a class="home-button" href="/@ctx.user.username/repos">%header_repositories</a>
							@else
								<a class="home-button home-button--primary" href="/register">%register</a>
								<a class="home-button" href="/login">%header_login</a>
							@end
						</div>
					</div>

					<div class="home-feature-list">
						<h2>%index_main_features</h2>
						<ul>
							<li>%index_feature_light_fast</li>
							<li>%index_feature_minimal_ram</li>
							<li>%index_feature_easy_deploy</li>
							<li>%index_feature_no_js</li>
							<li>%index_feature_lang_stats</li>
							<li>%index_feature_top_files</li>
							<li>%index_feature_fast_ci</li>
							<li>%index_feature_pr_no_fork</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="home-comparison" aria-labelledby="home-comparison-title">
				<div class="home-shell">
					<h2 id="home-comparison-title">%index_comparison_title</h2>
					<div class="home-table-wrap" tabindex="0">
						<table class="table-features">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">GitHub</th>
									<th scope="col">GitLab</th>
									<th scope="col">Gitly</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">%index_open_source</th>
									<td>%index_no</td>
									<td>%index_yes</td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">%index_all_open_source</th>
									<td>%index_no</td>
									<td>%index_no <a href="/open-source">[*]</a></td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">%index_min_ram</th>
									<td>32 GB <a target="_blank" rel="noopener noreferrer" href="https://docs.github.com/en/enterprise-server/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-aws#minimum-requirements">[0]</a></td>
									<td>4 GB <a target="_blank" rel="noopener noreferrer" href="https://docs.gitlab.com/ee/install/requirements.html#memory">[1]</a></td>
									<td>128 MB</td>
								</tr>
								<tr>
									<th scope="row">%index_cheapest_server</th>
									<td>$160</td>
									<td>$20</td>
									<td>$3.50 <a target="_blank" rel="noopener noreferrer" href="https://aws.amazon.com/lightsail/pricing/">[2]</a></td>
								</tr>
								<tr>
									<th scope="row">%index_works_no_js</th>
									<td>%index_partially</td>
									<td>%index_no</td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">%index_detailed_lang_stats</th>
									<td>%index_no</td>
									<td>%index_no</td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">%index_install_size</th>
									<td>?</td>
									<td>3.9 GB <a target="_blank" rel="noopener noreferrer" href="https://gist.github.com/medvednikov/a90fba85e5e2703a7a6270f1adc50dad">[3]</a></td>
									<td>&lt;1 MB</td>
								</tr>
								<tr>
									<th scope="row">%index_load_time</th>
									<td>3s</td>
									<td>2s</td>
									<td>0.3s</td>
								</tr>
								<tr class="table-features__group">
									<th colspan="4" scope="colgroup">%index_ci_features_header</th>
								</tr>
								<tr>
									<th scope="row">%index_cpu_cores</th>
									<td>2</td>
									<td>1</td>
									<td>4 - 8</td>
								</tr>
								<tr>
									<th scope="row">FreeBSD</th>
									<td>%index_no</td>
									<td>%index_no</td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">macOS</th>
									<td>%index_yes</td>
									<td>%index_no</td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">%index_dep_cache</th>
									<td>%index_no</td>
									<td>%index_no</td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">%index_separate_instance</th>
									<td>%index_no</td>
									<td>%index_no</td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">%index_instant_start</th>
									<td>%index_no</td>
									<td>%index_no</td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">%index_stop_ci</th>
									<td>%index_no</td>
									<td>%index_no</td>
									<td>%index_yes</td>
								</tr>
								<tr>
									<th scope="row">%index_logs_storage_time</th>
									<td>%index_three_months</td>
									<td>%index_three_months</td>
									<td>%index_six_months</td>
								</tr>
								<tr>
									<th scope="row">%index_basic_ci_minutes</th>
									<td>3000 <a target="_blank" rel="noopener noreferrer" href="https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions">[4]</a></td>
									<td>10000 <a target="_blank" rel="noopener noreferrer" href="https://about.gitlab.com/pricing/">[5]</a></td>
									<td>43200</td>
								</tr>
								<tr>
									<th scope="row">%index_price_per_user</th>
									<td>$4</td>
									<td>$29</td>
									<td>$5</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>

			<section class="home-showcase" aria-labelledby="home-showcase-title">
				<div class="home-shell">
					<p id="home-showcase-title">
						%index_check_action
						<a href="/vlang/v">gitly.org/vlang/v</a>
					</p>
					<a class="home-screenshot-link" href="/vlang/v">
						<img class="gitly-screenshot" loading="lazy" decoding="async" src="https://user-images.githubusercontent.com/687996/85933714-b195fe80-b8da-11ea-9ddd-09cadc2103e4.png" alt="Gitly">
					</a>
				</div>
			</section>
		</main>

		@include 'layout/footer.html'
	</body>
</html>
