<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			@include 'layout/repo_menu.html'

			<div class="issues-header">
				<h1 class="issues-header__title">%issue_issues</h1>
				<div class="issues-header__actions">
					<a class="issues-header__milestones" href="/@repo.user_name/@repo.name/labels">Labels</a>
					@if repo.milestones_enabled()
						<a class="issues-header__milestones" href="/@repo.user_name/@repo.name/milestones">%milestones</a>
					@end
					@if ctx.logged_in
						<a class="issues-header__new" href='/@repo.user_name/@repo.name/issues/new'>%issue_new</a>
					@end
				</div>
			</div>
			<nav class="issue-state-tabs" aria-label="Issue state">
				<a href="/@repo.user_name/@repo.name/issues?state=open" class="@open_tab_class">Open (@open_issue_count)</a>
				<a href="/@repo.user_name/@repo.name/issues?state=closed" class="@closed_tab_class">Closed (@closed_issue_count)</a>
				<a href="/@repo.user_name/@repo.name/issues?state=all" class="@all_tab_class">All (@all_issue_count)</a>
			</nav>

			@if issues_with_users.len == 0
				<div class="issues-empty">%issue_none</div>
			@else
				@include '_issue_list.html'

				<div class="issue-pager">
					@if first
						<span class="issue-pager__btn issue-pager__btn--disabled">Prev</span>
					@else
						<a class="issue-pager__btn" href="/@repo.user_name/@repo.name/issues/@prev_page?state=@current_state">Prev</a>
					@end
					<span class="issue-pager__info">@page of @page_count</span>
					@if last
						<span class="issue-pager__btn issue-pager__btn--disabled">Next</span>
					@else
						<a class="issue-pager__btn" href="/@repo.user_name/@repo.name/issues/@next_page?state=@current_state">Next</a>
					@end
				</div>
			@end
		</div>

		@include 'layout/footer.html'
	</body>
</html>
