<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			@include 'layout/repo_menu.html'

			<h1>Releases</h1>
			@if ctx.form_error != ''
				<div class="form-error">@ctx.form_error</div>
			@end
			@if can_publish
				<form class="settings-form" method="post" action="/@repo.user_name/@repo.name/releases">
					<label>Tag <select name="tag_name">
						@for tag in tags
							<option value="@tag.name">@tag.name</option>
						@end
					</select></label>
					<textarea name="notes" placeholder="Release notes"></textarea>
					<button type="submit">Publish release</button>
				</form>
			@end

			@if releases.len > 0
				.releases {
					@for r in releases
						.release {
							<strong>Release:</strong> <a href="/@repo.user_name/@repo.name/tree/refs/tags/@r.tag_name">@r.tag_name</a><br/>
							<strong>Hash:</strong> @r.tag_hash<br/>
							@if r.user != ''
								<strong>Created by:</strong> @r.user<br/>
							@end
							<strong>Created at:</strong> @r.date<br/>
							<strong>Notes:</strong> @r.notes<br/>
							<a href="/@repo.user_name/@repo.name/archive/@{r.tag_name}?format=zip">Download zip</a>,
							<a href="/@repo.user_name/@repo.name/archive/@{r.tag_name}?format=tar">download tar</a>
							@if can_publish
								<form class="inline-form" method="post" action="/@repo.user_name/@repo.name/releases/@r.id/delete"><button type="submit">Delete release</button></form>
							@end
						}
					@end
				}

				<div class="buttons">
					@if is_first_page
						<a href="/@username/@repo_name/releases/@prev_page" class="button disabled">Prev</a>
					@else
						<a href="/@username/@repo_name/releases/@prev_page" class="button">Prev</a>
					@end

					<span>@page_i of @page_count</span>

					@if is_last_page
						<a href="/@username/@repo_name/releases/@next_page" class="button disabled">Next</a>
					@else
						<a href="/@username/@repo_name/releases/@next_page" class="button">Next</a>
					@end
				</div>
			@else
				<h2>No releases</h2>
			@end
		</div>

		@include 'layout/footer.html'
	</body>
</html>
